/*-------------------
==== Golbal CSS =====
-------------------*/
:root {
    --primary-color: #2c3e50;
    --secondary-color: #1abc9c;
}
body {
    font-family: 'Montserrat', sans-serif;
}
/*-------------------
==== Start Navbar ===
-------------------*/
.navbar {
    background-color: var(--primary-color);
    text-transform: uppercase;
    padding: 24px 0;
    font-weight: 800;
}

.navbar-dark .navbar-brand {
    font-size: 1.6rem;
}

.navbar-dark .nav-item a {
    font-size: 1rem;
    margin: 0 10px;
}

/*-------------------
==== End Navbar ===
-------------------*/
/*-------------------
==== Start Home ===
-------------------*/
.home {
    background-color: var(--secondary-color);
    height: 100vh;
}
.home img {
    width: 250px;
    margin-bottom: 15px;
}
.home h1 {
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 4rem;
    margin-bottom: 15px;
}
.home i {
    color: #fff;
    font-size: 3rem;
    margin-bottom: 15px;
}
.home .divider {
    display: inline-block;
    width: 150px;
    height: 5px;
    background-color: #fff;
    margin: 0 10px 22px 10px;
    border-radius: 4px;
}
.home p {
    color: #fff;
    font-size: 1.4rem;
}
/*-------------------
==== End Home ===
-------------------*/

/*-------------------
== Start Portfolio ==
-------------------*/

.portfolio {
    padding: 80px 0;
}

.portfolio h2 {
    color: var(--primary-color);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 3rem;
    margin-bottom: 15px;
}
.portfolio .col-md-6,
.portfolio .col-lg-3 {
    padding: 0 !important;
}
.portfolio .divider {
    display: inline-block;
    width: 115px;
    height: 4px;
    background-color: var(--primary-color);
    margin: 0 16px 14px 16px;
    border-radius: 4px
}
.portfolio .img-box {
    position: relative;
    width: 314px;
}
.portfolio .img-box .overlay {
    position: absolute;
    background-color: var(--secondary-color);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 4;
    opacity: 0;
    border-radius: 10px;
    padding-top: 95px;
    border: 8px solid #fff;
}
.portfolio .img-box .overlay:hover {
    opacity: 0.9;
}
.portfolio .img-box img {
    max-width: 300px;
    border-radius: 10px;
    margin: 10px 0;
}

/*-------------------
== End Portfolio ==
-------------------*/
/*-------------------
=== Start About ===
-------------------*/
.about {
    padding: 80px 0;
    background-color: var(--secondary-color);
    color: #fff;
}
.about h2 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 3rem;
    margin-bottom: 15px;
}
.about .divider {
    display: inline-block;
    width: 115px;
    height: 4px;
    background-color: #fff;
    margin: 0 16px 14px 16px;
    border-radius: 4px
}
.about p {
    font-size: 1.2rem;
    margin: 20px 0;
}
.about button {
    color: #fff;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid #fff;
    padding: 15px 50px;
    border-radius: 10px;
    font-size: 1.3rem;
    margin-top: 20px;
}
.about button::before {
    font-family: 'FontAwesome';
    content: '\f019';
    font-size: 1.5rem;
    margin-right: 10px;
}
.about button:hover {
    color: var(--secondary-color);
    background-color: #fff;
}
/*-------------------
=== End About ===
-------------------*/

/*-----------------------
=== Start Contact Me ===
-----------------------*/
.contact-me {
    padding: 80px 0;
    color: var(--primary-color);
}
.contact-me h2 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 3rem;
    margin-bottom: 15px;
}
.contact-me i {
    font-size: 2rem;
    margin-bottom: 15px;
}
.contact-me .divider {
    display: inline-block;
    width: 115px;
    height: 4px;
    background-color: var(--primary-color);
    margin: 0 16px 14px 16px;
    border-radius: 4px
}
.contact-me button {
    background-color: var(--secondary-color);
    color: #fff;
    padding: 12px 40px;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
}

.contact-me button:hover {
    background-color: #148d75;
}
/*-----------------------
=== End Contact Me ===
-----------------------*/
/*-----------------------
==== Start Footer ====
-----------------------*/
.footer {
    background-color: var(--primary-color);
    color: #fff;
    padding: 80px 0;
}
.footer h4 {
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
    margin: 20px 0
}
.footer .list-inline .circle {
    border: 2px solid #FFF;
    padding: 10px;
    border-radius: 50%;
    width: 60px;
    cursor: pointer;
}
.footer .list-inline .circle:hover {
    background-color: #FFF;
    color: var(--primary-color);
}
/*-----------------------
==== End Footer ====
-----------------------*/
/*-----------------------
==== Start Sub Footer ====
-----------------------*/
.sub-footer {
    background-color: #141b23;
    color: #FFF;
    padding: 20px 0;
}

.sub-footer h6 {
    padding: 0;
    margin: 0;
}
/*-----------------------
==== End Sub Footer ====
-----------------------*/